<!DOCTYPE html>
<html>
<head>
<title></title>
</head>
<body> 
    <main>
        <div>
            <h1>{{ todolist.name }}</h1>
            
            <p>
                <a href="{% url 'todo_list_update' todo.id%}">Edit list</a>
            </p>
            <p>
                <a href="{% url 'todo_list_delete' todo.id %}">Delete list</a>
            </p>

            <h2>Tasks</h2>
            <table>
                <thead>
                    <tr>
                        <th>Task</th>
                        <th>Due date</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in todolist.items.all %}
                        <tr>
                            <td>
                                <a href="{% url 'todo_item_detail' item.id %}">{{ item.task }}</a>
                            </td>
                            <td>{{ item.due_date|date:"M, d, Y" }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </main>

    

</body>
</html>